@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Quicksand", sans-serif;
}

/* p { 
    font-size: 5rem;
    font-weight: 600;
} */

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    height: 300px;
    width: 300px;
    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.btn-cell {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 3px solid black;
    color: black;
    
    font-family: inherit;
    font-size: 5rem;
    font-weight: 600;
}

.btn-cell:disabled {
    cursor: not-allowed;
}

.nbl {
    border-left: none;
}

.nbt {
    border-top: none;
}

.nbr {
    border-right: none;
}

.nbb {
    border-bottom: none;
}